@use './typography' as *;
@use './colors' as *;

$mobile-breakpoint:425px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

@mixin tablet-and-desktop {
  @media screen and (max-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: $desktop-breakpoint) {
    @content;
  }
}


@mixin mobile {
  @media screen and (max-width: $mobile-breakpoint) {
    @content;
  }
}


@mixin heading($font-size){
font-family: $font-display;
font-weight: 400;
font-size :$font-size
}

@mixin btn{
    background-color: $color-primary;
    border: none;
    color: $color-grey-light-1;
    padding: 0.65rem 0;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-family: $font-display;

     &:hover {
      background-color: $color-primary-dark;
      cursor: pointer;
    }
}

//h4 1.9rem